<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="better.life.autoquiet"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!--    <queries>-->
<!--        <package android:name="viva.republica.toss" />-->
<!--    </queries>-->

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:icon="@drawable/auto_quite"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.ActivityMain"
            android:exported="true"
            android:enabled="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ActivityAddEdit" />
        <activity android:name=".activity.ActivityAddAgenda" />
        <activity android:name=".activity.ActivityGCalShow" />
        <activity android:name=".activity.ActivityOneTime" />
        <activity android:name=".activity.ActivityPrefer" />

        <receiver android:name=".AlarmReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="better.life.autoquiet" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BootReceiver" android:enabled="true" android:exported="false"
            android:label="BOOTReceiver">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

<!--        <service android:enabled="true" android:name=".NotificationService" />-->

        <service android:name=".common.FloatingClockService" />

        <receiver android:name=".LogWidgetProvider" android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/my_widget_info" />
        </receiver>

        <service android:name=".LogWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="true" />

    </application>

</manifest>
